<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || view_module(@conn).title(view_template(@conn), assigns) || "Zeus Overzicht met Uitgebreide Toestanden", suffix: " · ZOUT" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <%= render "_navbar.html", conn: @conn %>
    </header>
    <%= @inner_content %>
  </body>
</html>
