<h1 class="title">
  <%= @changeset.data.name %> bewerken
</h1>
<div class="subtitle">
  Bewerk het project
</div>
<div class="card">
  <div class="card-content">
    <%= render "_form.html", conn: @conn, path: ~p"/projects/#{@changeset.data}", changeset: @changeset, projects: @projects, submit: "Opslaan" %>
  </div>
</div>
