<h1 class="title">Nieuw project</h1>
<div class="subtitle">
  Voeg een nieuw project toe
</div>
<div class="card">
  <div class="card-content">
    <%= render "_form.html", conn: @conn, path: ~p"/projects", changeset: @changeset, projects: @projects, submit: "Toevoegen" %>
  </div>
</div>
